.home_pokedex_start{
    display: flex;
  
  }
  .home_pokedex_input_name{
      font-size: 1rem;
      width: 20rem;
      height: 2.5rem;
      border: none;
  
      background: #FFFFFF;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  }
  .home_pokedex_btn_start{
      width: 10rem;
      height: 2.5rem;
      border: none;
  
      background: #D93F3F;
  
      font-weight: 400;
      font-size: 1.1rem;
  
      color: #FFFFFF;
  }